<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<appSettings>
		<add  key="WB" value="ELE_APP_FF_2024"/>
		<add key="DB" value="Server=172.16.202.79;Database=WB_Election_2024;uid=sa;password=Republic@2017;"/>
		<add key="VIZ-1" value="VIZ-1 | 172.16.204.111"/>
		<add key="VIZ-2" value="VIZ-2 | 172.16.215.60"/>
		<add key="DveMegAlliancePie" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/MEGHALAYA/MANUAL/ALLIANCE_PIE"/>
		<add key="DveNagAlliancePie" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/NAGALAND/MANUAL/ALLIANCE_PIE"/>
		<add key="Dve3MegAlliancePie" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/MEGHALAYA/MANUAL/3_PARTY_ALLIANCE_PIE_MANUAL"/>
		<add key="Dve5AllianceNumbers" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/MEGHALAYA/MANUAL/ALLIANCE_NUMBERS"/>
		<add key="Dve4AllianceNumbers" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/NAGALAND/MANUAL/ALLIANCE_NUMBERS4"/>
		<add key="Dve3AllianceNumbers" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/NAGALAND/MANUAL/ALLIANCE_NUMBERS3"/>
		<add key="Wall5AllianceNumbers" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/MEGHALAYA/MANUAL/WALL_ALLIANCE_NUMBERS"/>
		<add key="Wall5AlliancePie" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/MEGHALAYA/MANUAL/WALL_ALLIANCE_PIE"/>
		<add key="Wall4AllianceNumbers" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/NAGALAND/MANUAL/WALL_ALLIANCE_NUMBERS"/>
		<add key="Wall4AlliancePie" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/NAGALAND/MANUAL/WALL_ALLIANCE_PIE"/>
		<add key="Wall3AllianceNumbers" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/TRIPURA/MANUAL/WALL_ALLIANCE_NUMBERS"/>
		<add key="Wall3AlliancePie" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/TRIPURA/MANUAL/WALL_ALLIANCE_PIE"/>
		<add key="IMAGE_PATH" value="TEST/RND_FOR_WASIM/ELECTION_2024/ELEMENTS/ALLIANCE_FACES/"/>
		
	</appSettings>
</configuration>